
  <nav class = "topnav">
    <ul>
      <li><a href="pages/about.html">About</a></li>
      <li><a href="pages/pricing.html">Pricing</a></li>
      <li><a href="adventures">Adventures</a></li>
      <li><a href="#map">Map</a></li>
      <li><a href="#help">Help</a></li>
      <li style ="float:right"><a href = "#account">My Account</li>
    </ul>
  </nav>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to BiciBike!
    </div>
      <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div> 
</div>

<div class="footer">
  <p>Made by Jillian, Laisha, Kika, and Rachel for CSC 223 Fall 2023.</p>
</div> 
