<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to <%= @station.name %>!
    </div>
	</div>
</div>
