<!DOCTYPE html>
<html lang="en">
<head>
    <!-- # <meta charset="UTF-8">
    # <meta name="viewport" content="width=device-width, initial-scale=1.0">
    # <title>Northampton,MA</title> -->

    <!-- Include Mapbox GL JS library -->
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css' rel='stylesheet' />

    <!-- # Include Leaflet library
    # <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    # <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script> -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <!-- Your HTML content goes here -->
    <header>
        <nav class = "topnav">
          <a href="about.html">About</a>
          <a href="pricing.html">Pricing</a>
          <a href="#adventures">Adventures</a>
          <a href="map.html">Map</a>
          <a href="#help">Help</a>
        </nav>
    </header>
    <!-- Your Mapbox map container -->
     <div id='map'></div>
   
    

    <!-- Your custom scripts or additional dependencies -->
    <script>
        // Initialize Mapbox map
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmljaWJpa2UiLCJhIjoiY2xwcm5vd3Q3MDFvbTJrbXpucWlqNGlsMCJ9.aaw1PJPd897Xnz2bX-Yltw'; // Replace with your Mapbox access token
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11',
            center: [-72.664658, 42.328674], // Northampton coordinates
            zoom: 12
        });
    </script>
</body>
</html>
<!-- sk.eyJ1IjoiYmljaWJpa2UiLCJhIjoiY2xwcnhncXpnMGNmeTJpbzJlaGFlMXFyOSJ9.Wh6qU65NRsbm-3jIF1aqSA -->