<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Return Your Bike
    </div>
    <div class="bikes edit">
      <%= form_with model: @bike do |f| %>
        <%= f.label "Station" %>:
        <%= f.select :current_station_id, Station.order(:id).map { |station| [station.name, station.id] } %><br/>
        <%= f.submit("Return Bike") %>
      <% end %>
    </div>
	</div>
</div>
