/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* Style the links inside the navigation bar */
  ul.topnav li{
    background-color: grey;
    overflow: hidden;
  }

  .topnav li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: gray;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  ul {
    position: -webkit-sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display:inline-block;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  nav {
    background-color: grey;
    position: fixed;
    color:white;
    display: block;
    overflow: hidden;
    width: 100%; 
    padding: 10px;
}

.notice {
  color: red;
}

.alert {
  color: red;
}

.center-form {
  text-align: center;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

.login-button {
  background-color: #444547;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button {
  background-color: #444547;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}